*.class
**/*.class
**/**/*.class
**/**/**/*.class
**/**/**/**/*.class
**/**/**/**/**/*.class

*.pyc
**/*.pyc
**/**/*.pyc
**/**/**/*.pyc
**/**/**/**/*.pyc
**/**/**/**/**/*.pyc

*.swp
**/*.swp
**/**/*.swp
**/**/**/*.swp
**/**/**/**/*.swp
**/**/**/**/**/*.swp

*~
**/*~
**/**/*~
**/**/**/*~
**/**/**/**/*~
**/**/**/**/**/*~
