*.nxj
**/*.nxj
**/**/*.nxj
**/**/**/*.nxj
**/**/**/**/*.nxj
**/**/**/**/**/*.nxj

*.class
**/*.class
**/**/*.class
**/**/**/*.class
**/**/**/**/*.class
**/**/**/**/**/*.class

*.pyc
**/*.pyc
**/**/*.pyc
**/**/**/*.pyc
**/**/**/**/*.pyc
**/**/**/**/**/*.pyc

*.swp
**/*.swp
**/**/*.swp
**/**/**/*.swp
**/**/**/**/*.swp
**/**/**/**/**/*.swp

*~
**/*~
**/**/*~
**/**/**/*~
**/**/**/**/*~
**/**/**/**/**/*~

bin/

.classpath
g9_2012/source/.metadata/
g9_2012/source/PC/.classpath
g9_2012/source/PC/.project

